/*  Utility */

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  color: rgb(72,72,72);
  text-align: left;
}

.hidden {
  display:none !important;
}

/*  Nav Bar */

.nav.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100vw;
}

.nav.logo {
  margin-left: 10px;
}

.nav.logo.image {
  width: 40%;
}

.nav.links {
 width: 300px;
 height: 80px;
 text-align: right;
}

.nav.links a {
  display: inline-block;
  line-height: 77px;
  margin-right: 15px;
  font-size: 13px;
  color: rgb(72,72,72);
  padding: 0px 15px;
  cursor: pointer;
  box-sizing: border-box;
}

.nav.links a:hover {
  border-bottom: 2px solid rgb(72,72,72);
}

/*  Banner */

.banner {
  width: 100vw;
  height: 60vh;
  min-height: 300px;
  background-color: red;
  background-image: url('./assets/banner.jpg');
  background-size: 100vw auto;
  background-position: center;
  opacity: .8;
}


/*  Main container for all the content */

.main-container {
  max-width:1275px;
  height: 500px;
  margin: 0px auto;
  padding: 10px;
}
.main-container-item {
  max-width:1100px;
  height: 500px;
  margin: 0px auto;
  padding: 10px;
}
/*  Sections & Cards */

.section-title {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  font-stretch: ultra-expanded;
  margin: 35px 0px 0px 0px;
}

.card-container {
  margin-top: 50px;
}

.item-card {
  /* background-color: rgba(0,0,0,0.05); */
}

.card-image {
  border-radius: 3px;
}

.card-title {
  margin: 12px 0px 0px 0px;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 1px;
}

.card-short-description {
  margin: 8px 0px 0px 0px;
  font-size: 16px;
  font-weight: 100;
}

.card-stars {
  margin: 2px 0px 20px 0px;
  display: inline-block;
}

.card-stars i {
  color: rgb(0,132,137);
  font-size: 12px;
  margin-left: 1px;
}


.card-review-count {
  display: inline-block;
  margin-left: 4px;
  font-size: 14px;
}



/* Footer Block */

.footer-block {
  margin-top: 10px;
  border-top: 1px solid rgb(225,225,225);
}

.footer p {
  display: block;
  margin-top: 20px;
  color: rgb(150,150,150);
}


/* Item Page */


/* Message Box */

.message-box {
  width: 100%;
  height: 400px;
  border: 1px solid rgb(225,225,225);
  margin: 20px 0px 20px 0px;
  margin-top: calc(0px + 40px);
}

.message-box-card {
  margin: 30px;
  background-color: rgba(0,0,0,0.0);
  padding-bottom: 20px;
}

.message-box-card-header {
  display: flex;
  justify-content: space-between;
  align-items:top;
  border-bottom: 1px solid rgb(225,225,225);

}

.message-box-card-user-image {
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50px;
  background-image: url('./assets/dandog.jpg');
}

.message-box-card-user-container{
  display: inline-block;
  margin: 0px 10px;
  vertical-align: top;
}


.message-box-card-username{
  /* margin: -10px 10px 5px 10px; */
  margin: 0px;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 1px;
}


.message-box-card-date{
  /* margin: 5px 10px 10px 10px; */
  font-size: 14px;
  font-weight: 100;
  margin-top: 4px;
  letter-spacing: 1px;
  color: rgba(150,150,150)
}

.message-box-card-stars i {
  font-size: 12px;
  margin-right: 10px;
  margin-top: 15px;
  color: rgb(150,150,150);
  cursor: pointer;
  transition: color .3s ease;
  font-size: 16px;
}

.message-box-card-stars i:hover {
  color: rgb(0,132,137);
}

.message-box-card-text-input {
  margin-top:20px;
  padding: 10px;
  height: 170px;
  resize: none;
  border: 1px solid rgb(225,225,225);
}

.message-box-card-text-input:focus {
  outline: 0.5px solid rgb(220,220,220)
}


.message-box-card-submit-button {
  width: 100%;
  padding: 10px;
  background-color: rgb(255,90,95);
  border: none;
  border-radius: 4px;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: 400;
  margin-top: 30px;
}


/*  Main Item Details*/
.item-page-item-card {
  margin-top: 30px;
}

.item-page-card-image {
  border-radius: 3px;
}

.item-page-card-title {
  margin: 12px 0px 0px 0px;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 1px;
}

.item-page-card-short-description {
  margin: 8px 0px 0px 0px;
  font-size: 16px;
  font-weight: 100;
  color: rgb(120,120,120);
  letter-spacing: 1px;
}

.item-page-card-full-description {
  margin: 50px 0px;
  font-size: 16px;
  font-weight: 100;
  color: rgb(120,120,120);
  letter-spacing: 1.2px;
}

.item-page-card-stars {
  margin: 5px 20px 0px 20px;

}

.item-page-card-stars i {
  color: rgb(0,132,137);
  font-size: 15px;
  margin-left: 3px;
}

.item-page-card-review-count {
  font-size: 27px;
  font-weight: 600;
}

.item-page-reviews-container {
  display: flex;
  align-items:center;
  padding: 20px 0px;
  border-bottom: 1px solid rgb(225,225,225);
  margin-top: calc(-0px + 20px);
}


/* Review Card */

.review-card {
  margin-top: 20px;
  background-color: rgba(0,0,0,0.0);
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(225,225,225);
}

.review-card-header {
  display: flex;
  justify-content: space-between;
  align-items:top;
}

.review-card-user-image {
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50px;
  background-image: url('./assets/dandog.jpg');
}

.review-card-user-container{
  display: inline-block;
  margin: 0px 10px;
  vertical-align: top;
}


.review-card-username{
  /* margin: -10px 10px 5px 10px; */
  margin: 0px;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 1px;
}


.review-card-date{
  /* margin: 5px 10px 10px 10px; */
  font-size: 14px;
  font-weight: 100;
  margin-top: 4px;
  letter-spacing: 1px;
  color: rgba(150,150,150)
}

.review-card-actions i {
  font-size: 12px;
  margin-right: 10px;
  color: rgb(150,150,150);
  cursor: pointer;
  transition: color .3s ease;
}

.review-card-actions i:hover {
  color: rgb(75,75,75)
}

.review-card-stars i{
  font-size: 12px;
  color: rgb(0,132,137);
}

.review-card-text {
  display: block;
  margin-top: 10px;
  font-weight: 100;
  letter-spacing: 1px;
  color: rgb(120,120,120);
}


/*  Modal */

.modal {
  width: 30vw;
  min-width: 450px;
  height: 450px;
  border-radius: 2px;
}

.modal#signup {
  height: 570px;
}

.modal input {
  width: 90%;
  margin-left: 5%;
}

.modal-form {
  margin-top: 40px;
}
.modal-button {
  margin-top: 40px;
  width: 90%;
  margin-left: 5%;
  padding: 10px;
  text-align: center;
  background-color: rgb(255,90,95);
  border: none;
  border-radius: 4px;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: 400;
}
.modal-button:focus {
  background-color: rgb(255,90,95);
}

.modal-image {
  display: block;
  height: 40px;
  margin: 40px auto;
}
